#container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    height: auto;
}

#checkbox {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    max-width: 250px;
}

#input {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    max-width: 400px;
}

.background {
    background-color: rgb(87, 159, 251);
    color: white;
}

.left-divs {
    text-align: left;
}

.margin-top-5px-for-childs * {
    margin-top: 5px;
}

.margin-10px {
    margin: 10px;
}

.margin-5px-for-childs * {
    margin: 5px;
}

.my-border {
    margin: 10px;
    width: 100%;
    max-width: 650px;
}

.center-inside {
    text-align: center;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: center;
    }

    #checkbox, #input {
        height: auto;
        max-width: 100%;
        margin-top: 10px;
    }

    .my-border {
        width: 90%
    }
}
